<form method="POST" action="https://entrega-1422024-production.up.railway.app//passrecovery/formnuevopass/{{userMail}}">
    <p>ingresa tu nueva contraseña</p>
    <input type="text" name="newPass" placeholder="new password"/>
    <input type="hidden" name="email" value="{{userMail}}"/>
    <input type="submit" value="Enviar mail"/>
</form>