<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/products.css">
    <title>Document</title>
</head>
<body>
    <p><a href="/products">Home</a></p>
    {{#each carts}}
    <a href="/cart/cartdetail/{{_id}}" <p class="card_title">ID de carrito: {{_id}}</p></a>
    {{/each}}
</body>
</html>