<form method="POST" action="/passrecovery/linkDesdeBotonRecupero">
    <p>ingresa tu correo y revisa tu casilla para restaurar tu contraseña</p>
    <input type="text" name="email" placeholder="Email"/>
    <input type="submit" value="Enviar mail"/>
</form>