<form method="POST" action="https://entrega-1422024-production.up.railway.app/passrecovery/linkDesdeBotonRecupero">
    <p>ingresa tu correo y revisa tu casilla para restaurar tu contraseña</p>
    <input type="text" name="email" placeholder="Email"/>
    <input type="submit" value="Enviar mail"/>
</form>